@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Experience Edit Page</h3>
</div>

@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ExperienceID)
    <br />
    <br />
    @Html.Label("Experience Title")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Date</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <label>Image URL</label>
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    <br />
    <label>Description</label>
    @Html.TextAreaFor(x => x.Description, 10, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Update</button>
}
